.media-card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
    height: 55vh;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    overflow: hidden;
    z-index: 1500;
    box-shadow: 0 30px 60px rgba(0,0,0,0.7);
    cursor: pointer; /* عشان الزبون يعرف إنه في تفاعل */
}

.media-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; /* عشان الضغطة تروح للـ Container الأساسي */
}
